*,*::before,*::after{
    box-sizing: border-box;
    margin-top: 0;
}

.container {
    align-items: center;
}

.p-fluid {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.messageImage {
    align-items: center;
    width: 35vw;
    height:  35vw;
}

.formBox {
    width: 50vw;
}

.contactContainer {
    display: flex;
    flex-direction: row;
}

.messageImageContainer {
    align-content: center;
    padding: 0rem 4rem 0rem 4rem ;
}

@media screen and (max-width: 960px) {
    .container {
        justify-content: center;
    }

    .p-fluid {
        display: flex;
        flex-direction: row;
        margin: 1rem;
    }

    .messageImage {
        align-items: center;
        width: 70vw;
        height:  70vw;
    }

    .formBox {
        width: 90vw;
    }

    .contactContainer {
        display: flex;
        flex-direction: column;
    }
    
    .messageImageContainer {
        align-content: center;
        padding: 0rem 4rem 0rem 4rem ;
    }
}
