*, *::before,*::after{
    box-sizing: border-box;
    margin-top: 0;
}
h1{
    color: aquamarine;
}
a[href]{
    color: orange;
}

#box{
    background-color: orange;
    height: 100px;
    width: 100px;
    transition: all 1s;
}

#box:hover{
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    border-radius: 20px;
}