:root{
    --primary-color-1: hsl(300, 43%, 22%);
    --primary-color-2: hsl(333, 80%, 67%);

    --neutral-1: hsl(303, 10%, 53%);
    --neutral-2: hsl(300, 24%, 96%);
    --neutral-3: hsl(0, 0%, 100%);

    --font-family:'Spartan', sans-serif;

    --font-weight-1:400;
    --font-weight-2:500;
    --font-weight-3:700;
}

*,*::before,*::after{
    box-sizing: border-box;
    margin-top: 0;
    
}
