.mydivs{
    /* It is verticle before now we will change it to horizontal now */
    display: flex;/*This will change it to horizontal row*/
}

.mydivs div{
    color: red;
    height: 100px;
    width: 100px;
    margin: 2px;
}

/*
display:flex; -> Initiates the flex
justify-content: center; -> Center the elements on X axis (horizontal)
align-items: center; -> Centers teh element on Y axis (Vertically)
*/